.account-page-wrap {
  width: 1370px;
  margin: 0 auto;
}

.account-page-tab-items {
  width: 475px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.account-page-tab-item {
  position: relative;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 3px;
  color: #696970;
  text-transform: uppercase;
  &:hover {
    color: $black;                        
     }
}
.account-page-tab-item.selected {
  color: #000000;  
  &::before {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  top: 100%;
  margin-top: 9px;
  height: 2px;                
   background-color: $black;
  }
}
.account-page-section {
  min-height: 570px;
}

.account-page-data {
  width: 1175px;
  margin: 0 auto;
}

.account-page-factura {
  width: 1175px;
  margin: 0 auto;
}
.acbody {
  &-full-name-flex {
    display: flex;   
    padding-top: 20px;
    position: relative;
    padding-bottom: 20px;

    &:after {
      content: '';
      background-color: black;
      height: 1px;
      display: block;
      position: absolute;
      top: 105px;
      right: 10px;
      left: 10px;
    }
    
  }

  &-field {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    position: relative;
    margin-bottom: 40px;
  } 

  &-label {
    position: absolute;
    left: 21px;
    top: -0.5em;
    max-width: calc(100% - 40px);
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    z-index: 11;
    padding: 0px 8px;
    background: #fff;
    color: #9f9f9f;
  }

  &-input {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 9px;
    padding: 0px 20px;
    height: 44px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    outline: none !important;
    

  }

  &-adress-flex {
    display: flex;
    justify-content: space-between;    
    padding-top: 20px;
  }

  &-adress-flex-bottom {
    display: flex;
    justify-content: space-between;  
    padding-top: 0;
  }

  &-adress-data {
    display: flex;
    width: 50%;
    

    .acbody-field {
      width: 34%;
    }    
  }

  &-house {
    width: 240px;
    margin-right: 28px;
  }

  &-flat {
    width: 240px;
    margin-right: 28px;
  }

  &-index {
    width: 240px;
  }

}

.order-list-topics {
  margin-top: 15px;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  
}

.ol-icon {
  width: 9.5%;
  
}

.ol-number {
  width: 15.5%;
}

.ol-amount {
  width: 11.5%;
}

.ol-price {
  width: 12.5%;
}

.ol-product-name {
  width: 24%;
  padding-left: 20px;
}

.ol-order-date {
  width: 16.5%;
}

.ol-due-date {
  width: 14.5%;
}

.ol-info {
  width: 21%;
}

.ol-topic {
  color:#000;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;  
}

.ol-ordered-product {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 18px;  
}

.ol-ordered-flex-wrap {
  display: flex;
}

.ol-puzzle {
  min-height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ol-icon-ordered {
  text-align: center;
}

.ol-number-ordered {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.ol-amount-ordered {
  text-align: center;  
  font-size: 10px;
  font-weight: 400;
}

.ol-price-ordered {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.ol-order-date-ordered {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.ol-due-date-ordered {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.ol-border:not(:last-child){
  border-right: 1px solid black;
}

.ol-info-ordered {
  padding-left: 100px;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.ol-info-ordered::after {
  position: absolute;
  content: url("../images/arrow-down.png");
  top: 50%;
  left: 21%;
  transform: translate(-50%, -50%) 
}

.order-list {
  .catalog-pgn {
    margin-bottom: 20px;
    margin-top: 60px;
  }
}

.ol-ordered-product-wrap {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  
}

.ol-ordered-product-current {
  background-color: #fbebeb;  
  border-radius: 10px;
  margin-bottom: 18px;
  background-image: url("../images/back10.png");
  background-repeat: no-repeat;
  background-position: center;

  .ol-icon-line::after {
    opacity: 0;
  }
  .ol-number-line::after {
    opacity: 0;
  }
  .ol-amount-line::after {
    opacity: 0;
  }
  .ol-price-line::after {
    opacity: 0;
  }
  .ol-order-date-line::after {
    opacity: 0;
  }
  .ol-due-date-line::after {
    opacity: 0;
  }
  .ol-number-line::after {
    opacity: 0;
  }
  
  .ol-info-ordered {
    padding-left: 100px;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
  }

  .ol-info-ordered::after {
    position: absolute;
    content: url("../images/arrow-down-up.png");
    top: 50%;
    left: 21%;
    transform: translate(-50%, -50%);
  }
}

.ol-ordered-detail {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;


  .ol-small-pic {
  height: 72px;
  width: 72px;
  border-radius:10px;
}

  .ol-order-date-ordered {
    font-size: 30px;
    font-weight: 900;
  }

 .ol-product-title {
   font-size: 15px;
   font-weight: 900;
   margin-bottom: 3px;
 } 

 .ol-product-descr {
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
 }
}

.ol-ordered-delivery {
  display: flex;
  padding-bottom: 45px;

  .ol-ordered-bottom {
    width: 64.5%;
  }

  .ol-due-date {

    a {
      color:#000;
      cursor: pointer;
      position: relative;
    }

    a::after {
      position: absolute;
      content: url("../images/download.png");
      top: 50%;
      left: -20%;
      transform: translate(-50%, -45%) 
    }


    text-align: right;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    

  }

  .ol-info {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 100px;
    position: relative;
    
  }

  .ol-info::after {
    position: absolute;
    content: url("../images/box-delivery.png");
    top: 50%;
    left: 26%;
    transform: translate(-50%, -45%) 
  }
}



.ol-icon-line {
  position: relative; 

  &:after {
    position: absolute;
    content: '';
    display: block;    
    background: #e8e8e8;
    width: 1px;
    top: 0;
    right: 0;
    bottom: -18px;
  }
}

.ol-number-line {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    display: block;    
    background: #e8e8e8;
    width: 1px;
    top: 0;
    right: 0;
    bottom: -18px;
  }

}

.ol-amount-line {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    display: block;    
    background: #e8e8e8;
    width: 1px;
    top: 0;
    right: 0;
    bottom: -18px;
  }

}

.ol-price-line{
  position: relative;
  &:after {
    position: absolute;
    content: '';
    display: block;    
    background: #e8e8e8;
    width: 1px;
    top: 0;
    right: 0;
    bottom: -18px;
  }

}

.ol-order-date-line {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    display: block;    
    background: #e8e8e8;
    width: 1px;
    top: 0;
    right: 0;
    bottom: -18px;
  }

}

.ol-due-date-line {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    display: block;    
    background: #e8e8e8;
    width: 1px;
    top: 0;
    right: 0;
    bottom: -18px;
  }
}

.ol-due-date-line {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    display: block;    
    background: #e8e8e8;
    width: 1px;
    top: 0;
    right: 0;
    bottom: -18px;
  }

}


.ol-ordered-product:last-of-type .ol-icon-line:after {
  bottom: 0;
}

.ol-ordered-product:last-of-type .ol-number-line:after {
  bottom: 0;
}

.ol-ordered-product:last-of-type .ol-amount-line:after {
  bottom: 0;
}

.ol-ordered-product:last-of-type .ol-price-line:after {
  bottom: 0;
}

.ol-ordered-product:last-of-type .ol-order-date-line:after {
  bottom: 0;
}

.ol-ordered-product:last-of-type .ol-due-date-line:after {
  bottom: 0;
}




.ol-ordered-special {
  display: none;
}

.ol-ordered-special-active {
  display: block;
}


























@media (max-width: 1600px) { 
  
 }

@media (max-width: 1366px) { 
  .account-page-data {
    width: 900px;
  }
  .account-page-factura {
    width: 900px;  
  }
    
  .acbody-full-name-flex {
      padding-top: 20px;
  }
  .acbody-full-name-flex:after {
      top: 100px;      
  }
  .acbody-field {
    margin-bottom:30px;
  }
  .acbody-adress-flex {
    padding-top: 15px;
  }
  
  
 }

@media (max-width: 1180px) { 
  .acbody-full-name-flex:after {
      top: 95px;      
  }
  .account-page-data {
    width: 800px;
    }
    .account-page-factura {
    width: 800px;  
  }
    .acbody-field {
      margin-bottom: 20px;
    }    
  
 }



@media (max-width: 1120px) {
  .acbody-field {
    width: 100%;
    
  }
  .acbody-full-name-flex {
    flex-wrap: wrap;
  }

  .acbody-adress-flex {
    flex-wrap: wrap;
  }

  .acbody-adress-flex-bottom {
    flex-wrap: wrap;    
  }

  .acbody-adress-data {
    width: 100%;
  }

  .account-page-data {
    width: 620px;    
  }

  .account-page-factura {
    width: 620px;  
  }
    
  .acbody-full-name-flex {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 20px;
  }
  .acbody-full-name-flex:after {
      top: 127px;      
  }
  .acbody-field {
    
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .acbody-adress-flex {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    
  }

  

}

@media (max-width: 768px) {   
 }