.basket-page {
  width: 1600px;
  margin: 0 auto;
  min-height: calc(100vh - 642px);
}

.cart-items {
  padding-left: 40px;
  margin-bottom: 105px;
  margin-right: 90px;
}

.cart-item {
  display: flex;
  height: 200px;
  width: 896px;
  
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  

  &:not(:last-child) {
    border-bottom: 1px solid #575759;
  }

  &-wrap {
    display: flex;
    align-items: center;
  }











   &-amount {
        display: inline-block;
        position: relative;
        width: 165px;
        padding-left: 44px;
        padding-right: 44px;
        margin-right: 70px;
        margin-bottom: 0px;

        &-minus {
            position: absolute;
            top: 0;
            width: 44px;
            height: 44px;
            line-height: 44px;
            background: #f4cece;
            font-size: 0;
            text-indent: -9999px;
            left: 0;
            border-radius: 8px;

            &:hover {
                background: #e99d9d;
            }

            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                top: 50%;
                left: 50%;
                margin-top: -1px;
                margin-left: -5px;
                background: #535353;
            }

        }

        &-input {
            display: block;
            width: 44px;
            text-align: center;
            height: 44px;
            border: 1px solid #000;
            padding: 0px 5px;
            font-size: 20px;
            font-weight: 400;
            color: #000;
            border-radius: 8px;
            margin: 0 auto;

        }

        &-plus {
            position: absolute;
            top: 0;
            width: 44px;
            height: 44px;
            line-height: 44px;
            background: #f4cece;
            font-size: 0;
            text-indent: -9999px;
            right: 0;
            border-radius: 8px;

            &:hover {
                background: #e99d9d;
            }

            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                top: 50%;
                left: 50%;
                margin-top: -1px;
                margin-left: -5px;
                background: #535353;
            }

            &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                top: 50%;
                left: 50%;
                margin-top: -1px;
                margin-left: -5px;
                background: #535353;
                transform: rotate(90deg);
            }

        }
    }
}

.cart-item-title {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}

.cart-item-category {
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.cart-item-img {
  display: block;
  width: 150px;
  height: 150px;
  margin-right: 60px;
}

.cart-item-field {
  margin-right: 25px;
}

.cart-item-sum {
  text-align: right;
}

.cart-item-price {
  font-weight: 900;
  font-size: 30px;
  color: #000;
  position: relative;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 75px;

  &::before {
        content: '60.00 zł';
        white-space: nowrap;
        position: absolute;
        font-size: 15px;
        font-weight: 400;
        text-decoration:line-through;
        top: 15px;
        right: 155px;               
    }
  &::after {
        content: '-50%';
        white-space: nowrap;
        position: absolute;
        font-size: 15px;
        font-weight: 700;
        color: #e99d9d;
        top: 35px;
        right: 0px;               
    }  
}

.cart-item-delete {
  font-size: 12px;
  font-weight: 400;
  margin-right: 45px;
  position: relative;

  &-img {
    position: absolute;
    right: -45px;
    top: -5px;
  }
}

.cart-check {
  width: 580px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 45px;
  
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 28px;
  }
  &-list {
    border-top: 1px solid #d8d8d8;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;

    &-text {
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-number {
      font-size: 15px;
      font-weight: 900;            
    }
  }

  &-total {
    border-top: 1px solid #000;
    padding-top: 23px; 
    padding-bottom: 23px;   
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-size: 15px;
      font-weight: 900;
      text-transform: uppercase; 
    }

    &-number {
      font-size: 30px;
      font-weight: 900; 
    }
  }
}