.product-page-wrap {
    z-index: 1;
    position: relative;    

    &::after {
        content: '';
        position: absolute;
        background-image: url('../images/back.png');
        background-repeat: no-repeat;
        width: 1084px;
        height: 1418px;         
        top: 300px;
        left: 0;
        z-index: -1;    
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/back2.png');
        width: 531px;
        height: 796px;         
        top: 1200px;
        right: 0;            
    }

    @media (max-width: 576px) {
        &:after {
            background-size: 125% auto;
            width: 100%;
        }
    }
}

.product-page {
    // width: 1600px;
    // margin: 0 auto;
    margin-top: 10px;
}


.breadcrumbs {   
    margin-top: -20px;
    background: none;    
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 70px;

    a {
        color: $black;  

            &:hover {
                color: $peach;
            }
    }

    a:not(:last-child):after {
        content: ">";
        display: inline-block;
        vertical-align: baseline;
        margin-right: 5px;
        margin-left: 12px;                
    }
    @media (max-width: 1366px) {
        font-size: 18px;
        margin-bottom: 50px;
    }
    @media (max-width: 992px) {
        margin-bottom: 40px;
        font-size: 16px;
    }
    @media (max-width: 480px) {
        margin-bottom: 25px;
        font-size: 13px;
    }
}

.other-products {
    margin-bottom: 125px;
    position: relative;
}

.op-block-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    text-align: center;
    margin-bottom: 125px;

    @media (max-width: 1366px) {
        margin-bottom: 100px;
    }
    @media (max-width: 992px) {
        margin-bottom: 50px;
    }
    @media (max-width: 480px) {
        margin-bottom: 35px;
    }
}
.op-slider {
    margin-left: -48px;
    margin-right: -48px;
    overflow: hidden;

    @media (max-width: 1600px) {
        margin-left: -15px;
        margin-right: -15px;
    }
    @media (max-width: 480px) {
        margin-left: -8px;
        margin-right: -8px;
    }
}
.op-slide {
    padding-left: 48px;
    padding-right: 48px;

    &-img {
        display: block;
        border-radius: 20px;
        margin-bottom: 25px;
    }

    &-title {
        font-size: 30px;
        font-weight: 900;
        color: $black;
        margin-bottom: 12px;
        line-height: 1.2;
    }

    &-category {
        font-size: 12px;
        font-weight: 700;
        color: $black;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    &-btn {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        min-width: 180px;
        max-width: 100%;
        padding: 0 25px;
        height: 44px;
        line-height: 42px;
        font-size: 20px;
        font-weight: 300;
        color: $white;
        background-color: $peach;
        text-transform: lowercase;                
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: $green-btn;
        }
    }

    @media (max-width: 1600px) {
        padding-left: 15px;
        padding-right: 15px;
        &-title {
            font-size: 25px;
        }
        &-category {
            margin-bottom: 25px;
        }
    }
    @media (max-width: 1180px) {
        &-title {
            font-size: 22px;
        }
        &-btn {
            min-width: 0;
        }
    }
    @media (max-width: 480px) {
        padding-left: 8px;
        padding-right: 8px;
        
        &-title {
            font-size: 19px;
        }
        &-img {
            margin-bottom: 15px;
        }
    }
    @media (max-width: 380px) {

        &-title {
            font-size: 16px;
        }
        &-category {
            font-size: 10px;
            margin-bottom: 20px;
        }
        &-img {
            border-radius: 10px;
        }
        &-btn {
            height: 36px;
            line-height: 34px;
            font-size: 16px;
        }
    }
}
.pr-card-wrap {
    position: relative;
}

.pr-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
    
    &-right {
        flex: 0 0 752px;
        max-width: 752px;
    }
    &-left {
        flex: 0 0 calc(100% - 752px);
    }
    &-body {
        padding-top: 50px;
        padding-left: 9%;
        position: relative;
    }

    &-imgs {
        position: relative;
        margin-bottom: 65px;
        overflow: hidden;

        img {
            display: block;
            border-radius: 15px;
        }

        &-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 45px;

            .swiper-pagination {
                position: static;
                display: inline-block;
                width: auto;
            }
        }

        .swiper-pagination { 

            &-bullet {
                width: 6px;
                height: 6px;                
                background-color: #727773;
                vertical-align: middle;
                margin-right: 20px !important;
                           
            }
            &-bullet-active {
                width: 12px;
                height: 12px;
                vertical-align: middle; 
                background-color: #000000;                
            }

        }
        &-prev {        
            background-image: url('../images/black-arrow-left.png');
            width: 27px;
            height: 21px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 25px;

            &.swiper-button-disabled {
                opacity: 0.3;
            }
        }


        &-next {
            background-image: url('../images/black-arrow-right.png');
            width: 27px;
            height: 21px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-left: 25px;

            &.swiper-button-disabled {
                opacity: 0.3;
            }
        }

    }


    &-descr {
        position: relative;
        padding-right: 150px;
        margin-bottom: 25px;
    }

    &-title {
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;        
    }

    &-type {
        font-weight: 900;
        font-size: 30px;
    }

    &-add {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-weight: 300;
        font-size: 12px;
        margin-bottom: 50px;

        span:not(:last-child):after {
            content: "//";
            display: inline-block;
            vertical-align: baseline;
            margin-right: 12px;
            margin-left: 15px;                
        }
    }
    &-attr {
        display: inline-block;
        position: relative;
        padding: 10px 0;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            height: 2px;
            width: 100%;                
            background-color: $black;  
        }
    }

    &-info {
        position: absolute;
        right: 0;
        top: 0.9em;
        max-width: 145px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &-label {
        display: inline-block;
        position: relative;
        font-family: 'Myriad pro';
        padding-left: 32px;

        &::before {
            position: absolute;  
            content: url('../images/star.png');                      
            left: 0;
            top: 0;
            width: 22px;
            height: 24px;
        }
    }

    &-tag { 
        position: relative;
        display: block;
        padding: 13px 14px 13px 45px;
        white-space: nowrap;
        background-color: #8db396;
        font-size: 8px;
        font-weight: 700;
        color: #ffffff;
        border-radius: 11px;        

        &::before {
            position: absolute;  
            content: url('../images/slim-body.png');                      
            left: 0;
            margin-left: 15px;
            top: 21%;
        }
    }

    &-text {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 40px;
    }

    &-moreinfo {
        margin-bottom: 120px;

        &-title {
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 70px;
            position: relative;
            letter-spacing: 1px;

            &::before {
            content: '';
            position: absolute;
            top: 48px;
            height: 2px;
            width: 120px;                
            background-color: $black;  
            }
        }

        &-text {
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            font-size: 20px;

            span {
                font-weight: 700;
            }
        }

        &-left {
            max-width: 46%;
        }

        &-right {
            max-width: 46%;
        }

    }
    &-store {
        position: relative;
    }

    &-delivery {
        position: absolute;
        bottom: 12px;
        right: 0;
        font-size: 12px;
        font-weight: 300;
        padding-left: 45px;
        line-height: 1;
        max-width: 140px;
         
        &::before {
            content: url('../images/box.png');
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -17px;
        }
    }

    &-store-price {
        display: block;
    }
    &-st {
        margin-bottom: 50px;
    }
    &-cost {
        display: inline-block;
        vertical-align: middle;
        height: 44px;
        line-height: 44px;
        font-size: 40px;
        font-weight: 900;
        position: relative;
        top: -2px;      
    }
    &-btns {
        position: relative;
    }
    &-btn {
        display: inline-block;
        vertical-align: middle;
        padding: 0 77px;
        height: 44px;
        line-height: 42px;
        font-size: 20px;
        font-weight: 300;
        color: $white;
        background-color: $peach;
        text-transform: lowercase;                
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background: #8db396;
        }
    }

    &-amount {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 165px;
        padding-left: 44px;
        padding-right: 44px;
        margin-right: 70px;

        &-minus {
            position: absolute;
            top: 0;
            width: 44px;
            height: 44px;
            line-height: 44px;
            background: #f4cece;
            font-size: 0;
            text-indent: -9999px;
            left: 0;
            border-radius: 8px;

            &:hover {
                background: #e99d9d;
            }

            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                top: 50%;
                left: 50%;
                margin-top: -1px;
                margin-left: -5px;
                background: #535353;
            }

        }

        input,
        &-input {
            display: block;
            width: 44px;
            text-align: center;
            height: 44px;
            border: 1px solid #000;
            padding: 0px 5px;
            font-size: 20px;
            font-weight: 400;
            color: #000;
            border-radius: 8px;
            margin: 0 auto;
        }

        &-plus {
            position: absolute;
            top: 0;
            width: 44px;
            height: 44px;
            line-height: 44px;
            background: #f4cece;
            font-size: 0;
            text-indent: -9999px;
            right: 0;
            border-radius: 8px;

            &:hover {
                background: #e99d9d;
            }

            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                top: 50%;
                left: 50%;
                margin-top: -1px;
                margin-left: -5px;
                background: #535353;
            }

            &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                top: 50%;
                left: 50%;
                margin-top: -1px;
                margin-left: -5px;
                background: #535353;
                transform: rotate(90deg);
            }

        }
    }

    @media (max-width: 1600px) {
        &-right {
            flex: 0 0 48%;
            max-width: 48%;
        }
        &-left {
            padding-top: 0;
            flex: 0 0 52%;
            max-width: 52%;
            padding-left: 5%;
        }
    }
    @media (max-width: 1366px) {
        &-imgs {
            &-nav {
                padding-top: 25px;
            }
        }
    }
    @media (max-width: 992px) {
        display: block;

        &-right {
            // flex: 0 0 100%;
            max-width: 752px;
            margin: 0 auto;
        }
        &-left {
            // flex: 0 0 100%;
            max-width: 752px;
            padding-left: 0;
            margin: 0 auto 80px;
        }
        &-moreinfo {
            max-width: 752px;
            margin-left: auto;
            margin-right: auto;

            &-text {
                display: block;
            }
            &-left,
            &-right {
                max-width: 100%;
            }
        }
    }
    @media (max-width: 533px) {
        &-store {
            flex-wrap: wrap;
        }
        &-delivery {
            margin-top: 25px;
            right: auto;
            bottom: auto;
            position: relative;
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 50px;

            &:before {
                margin-left: 0;
            }
        }
        &-amount {
            margin-right: 25px;
        }
        &-st {
            margin-bottom: 20px;
        }
        &-cost {
            font-size: 32px;
            // top: -3px;
        }
        &-imgs {
            margin-bottom: 50px;
            &-nav {
                position: absolute;
                bottom: 15px;
                left: 0;
                right: 0;
                padding-top: 0;
                z-index: 2;
            }
            &-prev,
            &-next {
                display: none;
            }
        }
    }
    @media (max-width: 480px) {
        &-moreinfo {
            max-width: 752px;
            margin-left: auto;
            margin-right: auto;

            &-text{
                font-size: 17px;
            }
        }
        &-text {
            font-size: 17px;
        }
        &-descr {
            padding-right: 0;
        }
        &-name {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
        &-info {
            position: relative;
            right: auto;
            top: auto;
        }
        &-add span:not(:last-child):after {
            margin-right: 4px;
            margin-left: 7px;
        }
        &-tag {
            padding: 13px 10px 13px 34px;
        }
        
        &-btn {
            display: block !important;
            padding: 0px 5px !important;
            text-align: center !important;
            width: 100%;
        }
        &-amount {
            margin-right: 20px;
            margin-bottom: 10px;
            width: 132px;

            input,
            &-input {
                border-radius: 0 !important;
            }
            &-minus {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &-plus {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &-cost {
            font-size: 28px;
            top: 0px;
            margin-bottom: 10px;
        }
    }

}
