.enter-page-wrapper {
    width: 900px;    
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    z-index: 1;    

    .enter-page-title-pos {        
        margin-top: -80px;
        left: 32%;
     }

     

}

.enter-page {
    margin: 0 auto;
    position: relative;
    width: 1920px;
    z-index: 1;

    &::after {
        content: url('../images/back4.png');
        position: absolute;        
        width: 916px;
        height: 1204px;
        top: -217px;
        left: 0px;
        z-index: -1;
    }
    
}

.enter-page-form {
    padding-top: 10px;
}

.enter-page-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.enter-page-top {
    border-bottom: 1px solid #ababac;
}

.enter-page-bottom {
    padding-bottom: 25px;
    padding-top: 40px;
}

.enter-page-field {
    position: relative;
    width: 570px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.enter-page-label {
    position: absolute;
    left: 21px;
    top: -0.5em;
    max-width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    z-index: 11;
    padding: 0px 8px;
    background: #fbfdfc;
    color: #9f9f9f;
}

.enter-page-input {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 9px;
    padding: 0px 20px;
    height: 44px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    outline: none !important;
       
}

.enter-page-btn-wrap {
    text-align: center;
}

.enter-page-links {
    width: 425px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 55px;
}

.enter-page-link {
    font-size: 15px;
    font-weight: 700;
    color:#000000;

    &:hover {
        color: #e99d9d;
    }
}

.enter-page-btn {
    font-family: "Raleway", sans-serif;
    outline: none;
    border: none;
    display: inline-block;
    width: 255px;
    cursor: pointer;
    height: 44px;
    background-color: #e99d9d;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    border-radius: 9px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 60px;
    text-transform: lowercase;
    
    &:hover {
        background-color: #8db396;
    }
}

.enter-page-btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 44px;    
}

.registration-page {
    .enter-page-field {
        margin-bottom: 35px;
    }

    .enter-page-title-pos {
        left: 38%;
    }

    .enter-page-input {
        font-weight: 400;
    }
}

.enter-page-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.enter-page-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.enter-page-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.enter-page-checkbox:checked+label::before {
  border-color: #000;
  background-color: transparent;
  background-image:url('../images/check.png');
}

/* стили при наведении курсора на checkbox */
.enter-page-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #e99d9d;
}

.enter-page-checkbox-label {
    font-size: 15px;
    font-weight: 400;
}

.enter-page-field-check {
    margin-bottom: 50px;
}

.category-filters-checkboxes {
    display: flex;
}