.footer {
    width: 1920px;
    margin: 0 auto;
    background-color: $green;

    .footer-top {        
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-contacts {
            display: block;

            .footer-social-links {
                padding-top: 20px;
                display: flex;
                height: 100px;
                align-items: center;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    background-color: #c1d4c5;
                    height: 2px;
                    width: 800px;
                    top: 100px;
                    left: -233px;
                }

                .footer-social-links-icons {
                    display: flex;
                    padding-right: 15px;

                    a {
                        display: inline-block;
                        margin-right: 40px;
                    }
                }

                .footer-social-links-mail {
                    position: relative;
                    padding-left: 50px;

                    &:before {
                        content: '';
                        position: absolute;
                        height: 40px;
                        width: 1px;
                        background-color: #b4d3d3;
                        left: 0;
                        top: 0px;
                    }

                    p {
                        font-weight: 800;
                        font-size: 14px;
                        line-height: 2.14;
                        text-transform: uppercase;
                        letter-spacing: 4px;
                        
                    }

                    a {
                        position: absolute;
                        right: -45px;
                        top: 5px;
                    }
                }
            }

            .footer-tel {
                height: 100px;
                text-align: right;
                padding-top: 10px;        
                
                p {
                    padding: 10px 0;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 2.14;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                }
            }
        }
    }

    .footer-bottom {
        padding-bottom: 40px;
        
        .footer-nav {
            display: flex;
            
            ul {
                margin-right: 100px;
                

                li {

                    padding-top: 15px;
                    padding-bottom: 15px;


                    a {
                        font-size: 18px;
                        font-weight: 400;
                        color: $black;
                    }
                }
            }
        }
        .footer-copyright {
            text-align: right;
            color: #77777e;
            font-weight: 800;
            font-size: 15px;
            line-height: 2.14;
            
        }
    }
}