.header {
    position: relative;
    background: linear-gradient(180deg, rgba(233,157,157,1) 33%, rgba(233,157,157,0) 100%);
    
    z-index: 99;

    .h-wrap {        
        width: 100%;
        display: flex;
        justify-content: space-between;                  
        align-items: center;
        padding-top: 35px;
        padding-right: 115px;
        padding-left: 60px;
        padding-bottom: 35px;

        .h-left {
            display: flex;

            .h-logo {
                 margin-right: 70px;
            }

            .h-nav {
                 display: flex;
                 align-items: center;

                 ul {
                     display: flex;
                     align-items: center;
                     li { 
                        margin-right: 30px;         
                        a {
                            font-weight: 400;
                            font-size: 18px;
                            color: $black;
                            cursor: pointer;
                            
                            &:hover {
                                font-weight: 800;
                            }
                        }      
                    
                    }
                }
            }
        }

         .h-right {
             display: flex;
             align-items: center;

            a {
             margin-left: 25px;
             color: $black;
             font-size: 21px;
             font-weight: 900;
        }
    }


    }

}

.header-pink {    
    height: 217px;
    z-index: 55;     
}

.header-inner {
    width: 100%;
    margin: 0 auto;
}

.header-index {
    background: none !important;    
}


.header-search {
  display: flex;
  
}

.search-input {
  background: #ffffff;
  color: #000;
  border: 1px solid #ffffff;
  border-radius: 9px;
  padding: 0px 20px;
  height: 44px;
  width: 295px;
  font-size: 15px;
  font-weight: 400;
  outline: none !important;
  margin-right: 7px;
}

.header-search-btn {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 9px;
  padding-left: 50px;
  padding-right: 33px;
  height: 44px;
  width: 130px;
  font-size: 15px;
  font-weight: 400;
  outline: none !important;
  text-transform: lowercase;
  position: relative;
  cursor: pointer;

  &:hover {
      background: #1d1d1d;
  }

  &::before {
    content: "";
    position: absolute;
    left: 28px;
    top: 50%;
    margin-top: -5px;
    width: 11px;
    height: 11px;
    background: url(../images/search-icon.png) center no-repeat;
    background-size: contain;
    
  }
}