 
.insta-block {
    // width: 1680px;
    // margin: 0 auto;    
    position: relative;

    @media (max-width: 768px) {
        margin-left: -20px;
        margin-right: -20px;
    }

    &:before {
            content: '';
            position: absolute;
            background: radial-gradient(circle, rgba(255, 147, 147, 0.9) 0%, rgba(255,255,255,0) 35%);
            height: 2000px;
            width: 2000px;
            border-radius: 50%;
            top: -800px;
            right: -1020px; 
            z-index: -1;       
        }


    &-top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 110px;


        .insta-title {
            display: inline-block;
            position: relative;
            font-size: 60px;
            padding-bottom: 25px;
            font-weight: 400;
            color: $gray-active;
            

            &-col {
                flex: 0 0 60%;
                max-width: 60%;
                padding-left: 125px;
            }
        

            &:before {
                content: '';
                position: absolute;
                background-color: $black;
                height: 2px;
                width: 140px;
                max-width: 50%;
                bottom: 0px;
                left: 0px;
            }    
        }

        .insta-link {
            position: relative;
            
            img {
                display: none;
            }

            &-explore {
                position: relative;
                display: inline-block;
                font-size: 14px;
                padding-right: 25px;
                font-weight: 800;
                color: $black;
                text-transform: uppercase;
                letter-spacing: 3px;

                &:after {
                    content: "";
                    width: 18px;
                    height: 15px;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    margin-top: -9px;
                    background: url(../images/explore-arrow.png) center no-repeat;
                }
            }
            img {
                position: absolute;
                right: 518px;
                top: 89px;
            }
        }
    }
    
    @media (max-width: 1366px) {
        &-top {
            margin-bottom: 80px;

            .insta-title-col {
                padding-left: 0;
            }
        }
    }
    @media (max-width: 1180px) {
        &-top {

            .insta-title {
                font-size: 45px;
            }
        }
    }
    @media (max-width: 992px) {
        &-top {
            justify-content: space-between;
            margin-bottom: 60px;

            .insta-title {
                padding-bottom: 15px;
                font-size: 40px;

                &-col {
                    flex: 0 0 auto;
                    max-width: none;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &-top {
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 35px;

            .insta-title {
                padding-bottom: 10px;
                font-size: 30px;
            }
            .insta-link {
                &-explore {
                    font-size: 12px;
                }
            }
        }
    }
}
.insta-swiper {        
    position: relative;
    padding-bottom: 60px;
    overflow: hidden;
           
    .swiper-slide {
        text-align: center;
    }

    .swiper-pagination {
        bottom: 10px;
        z-index: 99;                      
    }
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;                
        background-color: #c5c5c6;
        vertical-align: middle;
        margin: 0 8px;
        
    }
    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        vertical-align: middle; 
        background-color: #b4d3d3;  
    }

    @media (max-width: 768px) {
        padding-bottom: 70px;

        .swiper-pagination {
            bottom: 30px;
        }
    }
}
.insta-slide {
    text-align: center;
    
    img {
        display: block;
    }
    
    .insta-slide-link {
        display: inline-block;
        text-align: center;
        position: relative;

        &:hover:after {
            content: '';
            position: absolute;
            background-image: url('../images/arrow-up.png');
            width: 94px;
            height: 94px;         
            top: 20px;
            right: 0;                        
            z-index: 9;
        }
    }
}

.about-us-block {
    display: flex;
    // justify-content: space-between;    
    // max-width: 1700px;
    padding-top: 120px;
    padding-bottom: 95px;
    // margin: 0 auto;

    .foto-slider {
        position: relative;
        overflow: hidden;

        .swiper-pagination {
            bottom: 30px;                         
        }
        .swiper-pagination-bullet {
            width: 6px;
            height: 6px;                
            background-color: $white;
            vertical-align: middle;
            margin: 0 8px;
           
        }
        .swiper-pagination-bullet-active {
            width: 12px;
            height: 12px;
            vertical-align: middle;   
        }
    }
}
.about-us-left {
    flex: 0 0 38.2%;
    max-width: 38.2%;        
    position: relative;

    img {
        display: block;
        width: 100%;
    }

    &:before {
        content: '';
        position: absolute;
        background: radial-gradient(circle, rgba(255,206,206,1) 0%, rgba(255,255,255,0) 36%);
        height: 1200px;
        width: 1200px;
        border-radius: 50%;
        top: -300px;
        left: 300px;            
    }
}

.about-us-right {
    flex: 0 0 61.8%;
    max-width: 61.8%;
    position: relative;
    z-index: 1;
    padding: 90px 60px 110px 60px;
}
.about-us-tabs {
    max-width: 650px;
    margin: 0 auto;
}
.about-us-tab-items {
    margin-bottom: 85px;
}
.about-us-tab-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 34px;
    padding: 0px 30px 12px 30px;
    position: relative;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 3px;
    color: #696970;
    text-transform: uppercase;

    &:hover {
        color: $black;                        
    }
    &.selected {
        color: $black;

        &::before {
            content: '';
            position: absolute;
            left: 0px;
            right: 0px;
            top: 100%;
            height: 2px;                
            background-color: $black;  

        }
    }
}
.about-us-section {
    padding-left: 25px;
}
.about-us-block-title {
    font-size: 60px;
    font-weight: 900;
    color: $gray-active;
    margin-bottom: 25px;
    line-height: 1;
}
.about-us-block-descr {
    font-size: 24px;
    font-weight: 500;
    color: $gray-active;
    line-height: 1.5;
    margin-bottom: 20px;
}
.about-us-block-label {
    position: relative;
    font-family: 'Myriad Pro';
    font-size: 16px;
    font-weight: 500;
    color: $gray-active;
    margin-bottom: 60px;
    padding-left: 43px;

    img {
        position: absolute;
        left: 0;
        top: 0;
    }

}
.about-us-block-text {
    // width: 540px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    color: #767679;       

}

.about-us-social-links {
    position: absolute;
    right: 0px;
    top: 90px;
    
    a {
        display: block;
        margin-bottom: 40px;
    }
}

@media (max-width: 1366px) {
    .about-us-right {
        padding-top: 0;
        padding-bottom: 0;
    }
    .about-us-social-links {
        top: 0;
    }
    .about-us-tab-items {
        margin-bottom: 45px;
    }
    .about-us-tab-item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-us-block-label {
        margin-bottom: 30px;
    }
    .about-us-section {
        padding-left: 15px;
    }
}
@media (max-width: 992px) {
    .about-us-block {
        flex-wrap: wrap;
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
    }
    .about-us-left {
        flex: 0 0 100%;
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 150px;

        &:before {
            content: none;
        }
    }
    .about-us-right {
        margin-bottom: 80px;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0px;
        z-index: 0;
        z-index: unset;
    }
    .about-us-tabs {
        max-width: none;
    }
    .about-us-tab-items {
        white-space: nowrap;
        // overflow-x: auto;
        text-align: center;
        margin-bottom: 325px;
    }
    .about-us-social-links {
        display: none;
    }
    .about-us-block .foto-slider {
        max-width: 533px;
        margin: 0 auto;

        .swiper-slide {
            position: relative;
            height: 280px;
            overflow: hidden;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
        .swiper-pagination {
            bottom: 10px;
        }

    }
}
@media (max-width: 576px) {
    .about-us-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about-us-section {
        padding-left: 0;
    }
    .about-us-tab-items {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 310px;
        font-size: 0;
    }
    .about-us-tab-item {
        font-size: 10px;
        letter-spacing: 1px;
    }
    .about-us-block-title {
        font-size: 40px;
    }
    .about-us-left {
        top: 115px;
    }
}
@media (max-width: 480px) {
    .about-us-tab-item {
        letter-spacing: 0;
        padding-left: 8px;
        padding-right: 8px;
    }
    .about-us-block-title {
        font-size: 28px;
    }
    .about-us-block-descr {
        font-size: 20px;
    }
}
@media (max-width: 380px) {
    .about-us-tab-item {
        letter-spacing: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.about-us-tab-items::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.top-slider {
    margin-top: -175px;
    
    @media (max-width: 1366px) {
        margin-top: -155px;
    }
    @media (max-width: 992px) {
        margin-top: -125px;
    }
    @media (max-width: 768px) {
        margin-top: -100px;
    }
}
.big-slider {
    // height: 1080px;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    &-slide {
        position: relative;
        overflow: hidden;

        img {
            display: block;
            margin: 0 auto;
        }
    }
    &-content {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        left: 230px;
        width: 760px;
        max-width: 100%;
    }
    &-title {
        position: relative;
        color: $white;
        font-size: 101px;
        font-weight: 900;
        margin-bottom: 80px;
        line-height: 1;

        &:before {
            content: '';
            position: absolute;
            background-color: $white;
            height: 7px;
            width: 56px;
            bottom: -.25em;
            left: 0;
        }
    }
    &-descr {
        color: $white;
        font-size: 30px;
        font-weight: 300;
        max-width: 450px;
    }
    &-nav {
        position: absolute;
        left: 235px;
        bottom: 72px;
        display: flex;
        align-items: center;
        z-index: 1;
        line-height: 1;
    }
    &-prev,
    &-next {
        display: inline-block;
        vertical-align: middle;
        width: 27px;
        height: 21px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        transition: opacity .15s;

        &:hover {
            opacity: 0.85;
        }
        &.swiper-button-disabled {
            opacity: 0.3;
            cursor: default;
        }
    }
    &-prev {
        background-image: url('../images/arrow-left.png');
    }
    &-next {
        background-image: url('../images/arrow-right.png');
    }

    &-count {
        color: $white;
        display: inline-block;
        text-align: center;
        min-width: 60px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 5px;
    }


    .slider-first {
        width: 100%;
        height: 100%;
        background: no-repeat center $peach url('../images/background.png');
        padding-top: 350px;
        padding-left: 230px;

        .slider-title {
            position: relative;
            color: $white;
            font-size: 101px;
            font-weight: 900;
            margin-bottom: 80px;

            &:before {
                content: '';
                position: absolute;
                background-color: $white;
                height: 7px;
                width: 56px;
                top: 150px;
                left: 0;
            }
        }     

        .slider-descr {
            color: $white;
            font-size: 30px;
            font-weight: 300;
            max-width: 450px;
        }
    }

    .swiper-pagination {
        position: absolute;
        display: block;
        bottom: 80px;
        left: 0;
        width: auto;

        &-bullet {
            position: relative;
            padding-left: 62px;
            display: block;
            margin: 40px 0 0px !important;
            width: auto;
            height: auto;
            color: $white;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 3px;                                
            border-radius: 0;
            background-color: transparent;

            &-active:after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -3px;
                width: 40px;
                height: 6px;                
                background-color: $white;
                border-radius: 0;
            }
        }
    }

    @media (max-width: 1366px) {
        &-content {
            left: 150px;
        }
        &-nav {
            bottom: 32px;
            left: 150px;
        }
        .swiper-pagination {
            bottom: 40px;

            &-bullet {
                margin: 40px 0 0px !important;
            }
        }
        &-title {
            font-size: 80px;
            margin-bottom: 50px;
        }
        &-descr {
            font-size: 26px;
        }
    }

    @media (max-width: 1180px) {
        &-title {
            font-size: 64px;
            margin-bottom: 40px;
        }
        &-descr {
            font-size: 22px;
            max-width: 400px;
        }
    }

    @media (max-width: 992px) {
        .swiper-pagination {
            display: none;
        }
        &-content {
            left: 35px;
            top: 155px;
            transform: none;
            width: 60%;
        }
        &-title {
            font-size: 50px;
            margin-bottom: 20px;
        }
        &-nav {
            left: 35px;
            bottom: 25px;
        }
        &-count {
            font-size: 30px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    @media (max-width: 768px) {
        // &-slide {
        //     height: 480px;

        //     img {
        //         position: absolute;
        //         left: 50%;
        //         transform: translate(-50%,0);
        //         top: 0;
        //         height: 100%;
        //         width: auto;
        //         max-width: none;

        //     }
        // }
        &-content {
            left: 20px;
            top: 115px;
        }
        &-title {
            font-size: 38px;
        } 
        &-descr {
            font-size: 20px;
        }
        &-nav {
            left: 20px;
        }
        &-count {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 26px;
        }
    }
}

.block-popular {
    position: relative;
    margin-bottom: 300px;
    padding-top: 495px;
    padding-left: 65px;

    &::before {
        content: '';
        position: absolute;
        background: radial-gradient(circle, rgba(177, 202, 182, 0.9) 1%, rgba(255,255,255,0) 36%);
        height: 1800px;
        width: 1800px;
        border-radius: 50%;
        top: -300px;
        left: -700px;
        z-index: -2;        
    }

    &::after {
        content: '';
        position: absolute;
        background-image: url('../images/back.png');
        width: 1084px;
        height: 1418px;         
        top: 20px;
        left: -115px;
        z-index: -1;
    }

    @media (max-width: 576px) {
        &::after {
            width: 100%;
            background-size: 120% auto;
        }
    }

    
    &-title {
        position: absolute;
        top: 0px;
        right: 0;
        transform-origin: 100% 0%;
        transform: rotate(90deg) translate(100%, 0%);
        text-transform: lowercase;
        font-weight: 900;
        font-size: 30px;
        letter-spacing: 5px;
        color: $black;

    }

    .main-slide {
        position: absolute;
        z-index: 2;
        top: 100px;
        left: 70px;
        display: flex;


        .swiper-slide-info {
            padding-top: 115px;

            .swiper-slide-title {
                font-size: 25px;
                font-weight: 900;
                color: $black;
                margin-bottom: 30px;
            }

            .swiper-slide-descr {
                max-width: 500px;
                font-weight: 300;
                font-size: 20px;
                color: $black;
                margin-bottom: 20px;
            }

            .swiper-slide-button {
                display: inline-block;
                vertical-align: middle;
                padding: 0 77px;
                height: 44px;
                line-height: 42px;
                font-size: 20px;
                font-weight: 300;
                color: $white;
                background-color: $peach;
                text-transform: lowercase;                
                border-radius: 10px;
                
                &:hover {
                    background-color: #8db396;
                }
            }
        
        }
    }

    @media (max-width: 1600px) {
        .main-slide {
            left: 0;
        }
    }
    @media (max-width: 1180px) {
        padding-top: 460px;
    }
    @media (max-width: 992px) {
        padding-top: 0px;
        padding-left: 0;
        margin-bottom: 100px;
        padding-bottom: 180px;

        .main-slide {
            position: static;
            display: block;
        }

        &-title {
            font-size: 24px;
        }
    }

    @media (max-width: 768px) {
        &-title {
            font-size: 18px;
        }
    }
}
.swiper-popular{
    position: relative;
    overflow: hidden;
    margin-left: 450px;
    margin-right: -125px;

    .swiper-slide-info {
        display: none;
    }


    @media (max-width: 1600px) {
        margin-left: 280px;
    }
    @media (max-width: 1180px) {
        margin-left: 225px;
        margin-right: -35px;
    }
    @media (max-width: 992px) {
        margin-left: 50%;
    }
    @media (max-width: 768px) {
        margin-right: -20px;
    }
}

.block-news {
    position: relative;
    margin-bottom: 240px;
    padding-top: 395px; 

    &-title {
        position: absolute;
        top: -25px;
        left: 0px;
        transform-origin: 0% 100%;
        transform: rotate(90deg);
        text-transform: lowercase;
        font-weight: 900;
        font-size: 30px;
        letter-spacing: 5px;
        color: $black;
    }

    .main-slide {
        position: absolute;
        z-index: 99;
        top: 0px;
        right: 0;
        // left: 0;
        display: flex;
        justify-content: flex-end;


        .swiper-slide-info {
            padding-top: 115px;
            text-align: right;

            .swiper-slide-title {
                font-size: 30px;
                font-weight: 900;
                color: $black;
                margin-bottom: 30px;
            }

            .swiper-slide-descr {
                max-width: 500px;
                font-weight: 300;
                font-size: 20px;
                color: $black;
                margin-bottom: 20px;
            }

            .swiper-slide-button {
                display: inline-block;
                vertical-align: middle;
                padding: 0 77px;
                height: 44px;
                line-height: 42px;
                font-size: 20px;
                font-weight: 300;
                color: $white;
                background-color: $peach;
                text-transform: lowercase;                
                border-radius: 10px;

                &:hover {
                    background-color: #8db396;
                }
                
            }        
        }
    }

    @media (max-width: 1600px) {
        .main-slide {
            right: 0;
        }
    }
    @media (max-width: 1180px) {
        padding-top: 370px;
    }
    @media (max-width: 992px) {
        padding-top: 0px;
        padding-left: 0;
        margin-bottom: 100px;
        padding-bottom: 180px;

        .main-slide {
            position: static;
            display: block;

            .swiper-slide-info {
                text-align: left;
            }
        }

        &-title {
            font-size: 24px;
        }
    }

    @media (max-width: 768px) {
        &-title {
            font-size: 18px;
        }
    }
}

.swiper-news{
    position: relative;
    overflow: hidden;
    margin-right: 450px;
    margin-left: -125px;      

    .swiper-slide-info {
        display: none;
    }

    @media (max-width: 1600px) {
        margin-right: 280px;
    }
    @media (max-width: 1180px) {
        margin-right: 225px;
        margin-left: -35px;
    }
    @media (max-width: 992px) {
        margin-right: 50%;
    }
    @media (max-width: 768px) {
        margin-left: -20px;
    }
}