.search-list-cont {
  width: 1190px;
  margin: 0 auto;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  margin-right: 30px;
  letter-spacing: 1.5px;
}

.search-list-name {
  display: flex;
  align-items: baseline;
  padding-bottom: 60px;
  padding-top: 40px;
}

.search-request {
  font-size: 15px;
  font-weight: 400;
  position: relative;
}



.search-item-img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  

  img {
    width: 150px;
    height: 150px;
  }
  
}

.search-item {
  padding: 42px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  .search-item-pic {
    width: 18%;
  }

  .search-item-descr {
    width: 60%;
    margin-left: -150px;
  }

  .search-item-price {
    width: 22%;
  }

}

.search-item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.search-item-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}

.search-results {
  background-color: #e99d9d;
  border-radius: 10px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.search-item-category {
  display: flex;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.search-item-price {
  font-size: 30px;
  font-weight: 900;
  text-align: right;
  position: relative;
  white-space: nowrap;
  
}

.search-request-request {
  display: inline-block;
  padding: 10px 15px;
  background-color: #e99d9d;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  top: 30px;
  left: 0;
}

.search-item-price-box {
  position: relative;
  text-align: right;
  margin-top: -10px;  
}

.search-item-oldprice {
  white-space: nowrap;
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  text-decoration:line-through;
  top: 15px;
  right: 140px;   
}

.search-icon-discount {
  white-space: nowrap;
        position: absolute;
        font-size: 15px;
        font-weight: 700;
        color: #e99d9d;
        top: 35px;
        right: 0px;  
}

