// Colors & BG's ---
$black: #000000;
$white: #ffffff;


$gray: #696970;
$gray-active: #1a1a1d;
$gray-light: #767679;

$green: #c6d9ca;
$peach: #e99d9d;
$green-btn: #8db396;



$basefont: 'Raleway';