@import "vars";
@import "fonts";

* {
    box-sizing: border-box;
}


html {
    font-family: $basefont, sans-serif;
}

.body-wrapper {
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

@import "ui";
@import "header";
@import "main";
@import "footer";