@import "vars";
@import "fonts";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-family: $basefont, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.main {
    // width: 1920px;
    // margin: 0 auto;
    -ms-flex: 1 0 auto;  
    flex: 1 0 auto;
    padding-bottom: 60px;
}

.row {
    display: flex;
}

body {
    height: 100%;
    font-family: $basefont, sans-serif;
    // max-width: 1920px;
    // margin: 0 auto;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.42;
    font-weight: 400;

}

@import "ui";
@import "sprite";
@import "header";
@import "main";
@import "card";
@import "products";
@import "account";
@import "enter";
@import "basket";
@import "footer";
@import "popup";
@import "errorpage";
@import "search";
@import "fixes";