@import "vars";
@import "fonts";

* {
    box-sizing: border-box;
}


html {
    font-family: $basefont, sans-serif;
}

.body-wrapper {
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
    z-index: -99;
}

.row {
    display: flex;
}

@import "ui";
@import "sprite";
@import "header";
@import "main";
@import "card";
@import "products";
@import "account";
@import "enter";
@import "basket";
@import "footer";
@import "popup";

